<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
</head>
<body>
  <header class="logo-wrapper">
    <div class="logo-image"></div>
    <div class="logo-title-wrapper">
      <h1 class="logo-title">O'NEAL's</h1>
      <div class="michelin-stars"></div>
    </div>
  </header>
  <nav class="nav-tab-wrapper">
    <button class="nav-tab home">MISSION</button>
    <button class="nav-tab menu">MENU</button>
    <button class="nav-tab book">BOOKING</button>
    <button class="nav-tab media">O'NEAL</button>
  </nav>
  <div id="content">
    <div class="home-wrapper">
      <h3>DARE TO EXCEED THE EXCESS</h3>
      <h2>O'NEAL'S<br>
      Royal Venue<br>
      THE LINE, Neom<br>
      Saudi Arabia<br>
      +966 666 666 669</h2>
      <p>We are fully booked 5 years ahead. Inquire to become a bidder
      in our monthly auction for new openings. All reservations are
      fully paid in advance and non-refundable. <span>Your anonimity is guaranteed.</span>
      </p>
    </div>
  </div>  
</body>
</html>