<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
</head>
<body>
  <header class="logo-wrapper">
    <div class="logo-image"></div>
    <div class="logo-title-wrapper">
      <h1 class="logo-title">O'NEAL's</h1>
      <div class="michelin-stars"></div>
    </div>
  </header>
  <nav class="nav-tab-wrapper">
    <button class="nav-tab home">MISSION</button>
    <button class="nav-tab menu">MENU</button>
    <button class="nav-tab book">BOOKING</button>
    <button class="nav-tab media">O'NEAL</button>
  </nav>
  <div id="content">
  </div>  
</body>
</html>