<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
</head>
<body>
    <h1><%= htmlWebpackPlugin.options.header %></h1>
    <header>
      <nav>
        <button>Home</button>
        <button>Menu</button>
        <button>About</button>
        <button>Contacts</button>
      </nav>
    </header>
    <div id="content">
      <img src="<%= require('./dibmens.png') %>" />
    </div>

</body>
</html>
