@font-face {
  font-family: 'Rocksalt';
  src: url('./assets/fonts/RockSalt-Regular.ttf');
}

@font-face {
  font-family: 'Cardo';
  src: url(./assets/fonts/Cardo-Regular.ttf);
}

* {
  font-family: Cardo, serif;
  font-weight: 700;
}

body {
  background-color: rgb(0,0,0);
  margin: 0;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/images/backgrounds/5.jpg);
  background-position: center;
  transition: background-image ease-in-out 4s;
}

.logo-wrapper {
  background-position-y: -3em;
  background-size: 110%;
  display: flex;
  justify-content: center;
  min-height: 10em;
  width: 100vw;
  max-width: 63em;
  align-items: center;
  gap: 3em;
  background-color:  rgba(0,0,0,0.7);
}

.logo-image {
  background-image: url(./assets/images/patrice-chef.png);
  background-size: 120%;
  background-position: top;
  background-repeat: no-repeat;
  background-position-x:  -1.1em;
  min-height: 130px;
  min-width: 130px;
  border-radius: 100%;
  background-color: orange;
  margin-left: 3em ;
}

.logo-title-wrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-title {
  font-family: Rocksalt, serif;
  color: orange;
  font-size: 3.3em;
  letter-spacing: .3em;
  margin: 0;
  margin-top: -.3em;
  margin-bottom: -.2em;
}

.michelin-stars {
  background-image: url(./assets/images/michelin-stars.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -.5em;
  height: 3em;
  width: 6em;
}

@media screen and (max-width: 780px){
  .logo-image {
    display: none;
  }  
}

.nav-tab-wrapper {
  background-color: rgba(0,0,0,0.9);
  height: 2em;
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 63em;
  gap: 1em;
}

.nav-tab {
  background-color: rgba(0,0,0,0.0);
  border: none;
  width: 11.5em;
  font-size: 1.1em;
  color: aliceblue;
}

.highlight,
.nav-tab:hover {
  background-color: orange;
  color: black;
  font-size: 1.3em;
  letter-spacing: .5em;
  transition: 400ms;
}

#content {
  padding-top: 1em;
  background-color: rgba(0,0,0,0.7);
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  width: 100vw;
  max-width: 63em;
  gap: 1.5em;
  text-align: center;
  margin-bottom: 0;
}

.home-wrapper {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 42em;
  gap: .8em;
  overflow: hidden;
}

.home-wrapper > p:first-of-type {
  font-size: 1.2em;
  letter-spacing: .05em;
  line-height: 2em;
  text-align: justify;
  padding-bottom: 1em;
  font-style: oblique;
}

.course-wrapper {
  max-width: 28em;
}

.course-wrapper p {
  margin-top: -.4em;
  margin-bottom: .3em;
}

.course-wrapper:last-child {
  max-width: 30em;
}

h2 {
  font-family: Rocksalt;
  font-size: 1em;
  letter-spacing: .2em;
  color: orange;
  margin: .5em;
}

h3 {
  font-weight: normal;
  font-size: 1.3em;
  letter-spacing: .1em;
  margin: 0;
  padding: .5em;
}

p {
  font-weight: normal;
  margin: 0;
}

.review {
  text-align: left;
  border-left: 2px solid orange;
  padding-left: 1em;
  font-style: italic;
}

.review + p {
  color: orange;
  margin: -.6em 1em .6em 1em ;
  margin-left: auto;
}

iframe {
  border-radius: 1em;
  border: 2px solid orange;
}

span {
  font-weight: normal;
  color: orange;
}