@font-face {
  font-family: 'Rocksalt';
  src: url('./assets/fonts/RockSalt-Regular.ttf');
}

@font-face {
  font-family: 'Cardo';
  src: url(./assets/fonts/Cardo-Regular.ttf);
}

@font-face {
  font-family: 'Cardo-Bold';
  src: url(./assets/fonts/Cardo-Bold.ttf);
}

* {
  font-family: Cardo, serif;
  font-weight: 700;
}

body {
  background-color: rgb(0,0,0);
  margin: 0;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url(./assets/images/backgrounds/2.jpg);
  background-size: 2600px;
  background-position: center;
  transition: background-image 3s;
}

.hello {
    color: orange;
    text-align: center;
}

.logo-wrapper {
  background-position-y: -3em;
  background-size: 110%;
  display: flex;
  justify-content: center;
  height: 10em;
  width: 100vw;
  max-width: 65em;
  align-items: center;
  gap: 3em;
  background-color:  rgba(0,0,0,0.7);
}

.logo-image {
  background-image: url(./assets/images/patrice-chef.png);
  background-size: 120%;
  background-position: top;
  background-repeat: no-repeat;
  background-position-x:  -1.1em;
  min-height: 130px;
  min-width: 130px;
  border-radius: 100%;
  background-color: orange;
  margin-left: 3em ;
  
}

.logo-title-wrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-title {
  font-family: Rocksalt, serif;
  font-size: 3.3em;
  letter-spacing: .3em;
  margin: 0;
  margin-top: -.3em;
}

.logo-subtitle {
 margin-top: -.7em;
 letter-spacing: .55em;
 font-size: .8em;
}

@media screen and (max-width: 780px){
  .logo-image {
    display: none;
  }  
}

.nav-tab-wrapper {
  background-color: rgba(0,0,0,0.9);
  height: 2em;
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 65em;
  gap: 2em;
}

.nav-tab {
  background-color: rgba(0,0,0,0.0);
  border: none;
  width: 10em;
  font-size: 1.1em;
  color: aliceblue;
}

.nav-tab:hover {
  background-color: orange;
  color: black;
  font-size: 1.3em;
  letter-spacing: .5em;
  transition: 400ms;
}

#content {
  padding-top: 2em;
  background-color: rgba(0,0,0,0.7);
  background-size: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 65em;
}

.course {
  text-align: center;
  font-family: Rocksalt;
  font-size: 1em;
  letter-spacing: .2em;
  color: orange;
  margin: .5em;
}
.menu-item {
  text-align: center;
  padding: .8em;
}

.menu-item-name {
  font-family: Cardo, serif;
  font-weight: normal;
  font-size: 1.4em;
  letter-spacing: .1em;
  margin: 0;
}

.menu-item-info {
  font-weight: normal;
  margin: 0;
  max-width: 30em;
}